.container-s{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.a-nav-menu, .a-nav-menu :focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

.header-main .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

.header-main .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header-main .profile h1 a, .header-main .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.header-main .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.header-main .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

.main {
  margin-left: 300px;
}
@media (max-width: 1199px) {
  .header-main {
    left: -300px;
  }
  .main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu-main {
  padding: 30px 0 0 0;
}

.nav-menu-main * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu-main > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu-main a, .nav-menu-main a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu-main a i, .nav-menu-main a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu-main a:hover, .nav-menu-main .active, .nav-menu-main .active:focus, .nav-menu-main li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu-main a:hover i, .nav-menu-main .active i, .nav-menu-main .active:focus i, .nav-menu-main li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/logo.jpeg") top center;
  background-size: contain;
}

.hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}




/**
topbar
**/
.top-bar{
  background: #545454;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}/*
.container-s, .container-s-md, .container-s-sm {
  max-width: 720px;
}
*/
.justify-content-md-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}

.correoTop{
  font-style: normal;
  color: white;
}
.telefonoTop{
  padding-left: 5px;
  color: #fff;

}
.correoTop:hover {
  color: rgb(51, 113, 141);
}
.ms-4 {
  margin-left: 1.5rem !important;
}

/**
**/

/**header
**/
.header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.h1-logo{
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid rgb(51, 113, 141);
}
.h1-texto{
  color: #545454;
  text-decoration: none;
  font-size: 26px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid rgb(51, 113, 141);
}
.navbar {
  padding: 0;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.ul-nav {
  display: none;
}
.ul-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.li-nav {
  position: relative;
}
.navbar-a, .navbar-a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #545454;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar-a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: rgb(51, 113, 141);
}

/**
header**/

/**
informacion
breadcumbs
*/
.breadcrumbs {
  padding: 20px 0 20px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #ededed;
  margin-bottom: 40px;
}
.container-info{
  max-width: 960px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
.breadcrumbs-ol{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs-link{
  padding-left: 10px;
  color: #b7c219;
  text-decoration: none;
}
.breadcrumbs-link:hover{
  color: #b7c219;
}
.breadcrumbs-h2 {
  font-size: 28px;
  font-weight: 700;
  color: #545454;
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.5;
}
/*
*/
/**
*/
.about-section-info{
  padding: 0 0 80px 0;box-sizing: border-box;
}
.container-info{
  max-width: 960px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row-info {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
.pt-lg-0-info {
  padding-top: 0 !important;
}
.col-lg-6-info {
  flex: 0 0 auto;
  width: 50%;
}
.h3-info{
  font-weight: 600;
  font-size: 26px;
  color: #545454;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}
.fst-italic{
  font-style: italic !important;
}
.p-info{
  margin-top: 0;
  margin-bottom: 1rem;
}
.ul-info{
  /*list-style: none;*/
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
/*
*/

/*footter*/
.footer-newsletter{
  padding: 50px 0;
  background: #404040;
  color: #fff;
}
.container-news{
  max-width: 960px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;

}
.col-lg-6-news{
  flex: 0 0 auto;
  width: 50%;
}
.h4-news{
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}
.boton-news{
  margin-left: 70%;
}
/**/
body{
  font-family: 'Merriweather', serif;
}
.main-login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e0f7fa;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1.25rem;
  }

.img{
  background-image: url('https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png');
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-sm{
  font-size: small;
}

.form-control{
  border-radius: 1.25rem;
  border: none;
  font-size: 0.8rem;
  background-color: #E9ECEF;
}

.form-control:active{
  border: none !important;
  outline: none;
}

.form-control:focus{
  border: none !important;
  outline: none;
}


.input-group-text{
  border-radius: 1.25rem;
  border: none;
}
/*
.btn{
  border-radius: 1.25rem;
}
*/
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-radius: 1.25rem;
}

.icono-password {
  height: 34px;
}

.text-terminos{
  font-size: 10px;
  padding-top: -20px;
}

.bg-blue{
  background-color: #3A65D6;
}
.input-code{
  border-radius: 0.25rem;
  border: none;
  font-size: 0.8rem;
  background-color: #495057;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #E9ECEF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-code:active{
  border: #495057;
  outline: #495057;
}

.input-code:focus{
  border: #495057;
}

.send-again{
  cursor: pointer;
  font-weight: bold;
}
