.container-s{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
/**
topbar
**/
.top-bar{
  background: #545454;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}/*
.container-s, .container-s-md, .container-s-sm {
  max-width: 720px;
}
*/
.justify-content-md-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}

.correoTop{
  font-style: normal;
  color: white;
}
.telefonoTop{
  padding-left: 5px;
  color: #fff;

}
.correoTop:hover {
  color: rgb(51, 113, 141);
}
.ms-4 {
  margin-left: 1.5rem !important;
}

/**
**/

/**header
**/
.header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.h1-logo{
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid rgb(51, 113, 141);
}
.h1-texto{
  color: #545454;
  text-decoration: none;
  font-size: 26px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid rgb(51, 113, 141);
}
.navbar {
  padding: 0;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.ul-nav {
  display: none;
}
.ul-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.li-nav {
  position: relative;
}
.navbar-a, .navbar-a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #545454;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar-a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: rgb(51, 113, 141);
}

/**
header**/

body{
  font-family: 'Merriweather', serif;
}
.main-login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e0f7fa;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1.25rem;
  }

.img{
  background-image: url('https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png');
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-sm{
  font-size: small;
}

.form-control{
  border-radius: 1.25rem;
  border: none;
  font-size: 0.8rem;
  background-color: #E9ECEF;
}

.form-control:active{
  border: none !important;
  outline: none;
}

.form-control:focus{
  border: none !important;
  outline: none;
}


.input-group-text{
  border-radius: 1.25rem;
  border: none;
}

.btn{
  border-radius: 1.25rem;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-radius: 1.25rem;
}

.icono-password {
  height: 34px;
}

.text-terminos{
  font-size: 10px;
  padding-top: -20px;
}

.bg-blue{
  background-color: #3A65D6;
}
.input-code{
  border-radius: 0.25rem;
  border: none;
  font-size: 0.8rem;
  background-color: #495057;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #E9ECEF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-code:active{
  border: #495057;
  outline: #495057;
}

.input-code:focus{
  border: #495057;
}

.send-again{
  cursor: pointer;
  font-weight: bold;
}
